@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-full bg-gradient-to-b;
    background-image: linear-gradient(
      to bottom,
      var(--primary),
      var(--tertiary)
    );
  }

  .content-container {
    @apply mx-auto flex w-full max-w-full flex-1 flex-col;
  }

  header {
    @apply fixed left-0 top-0 z-50 flex w-full max-w-full flex-row justify-center;
  }
  .header-filler {
    @apply h-[60px];
  }

  .inner-container {
    @apply flex w-full max-w-full p-2 font-bold lg:max-w-6xl lg:p-4;
  }

  h1 {
    @apply inline-block cursor-pointer select-none text-center text-4xl font-bold md:text-5xl lg:text-6xl;
    color: white;
  }

  h2 {
    @apply inline-block cursor-pointer select-none text-center text-2xl font-bold lg:text-3xl;
    color: white;
  }

  h3 {
    @apply inline-block cursor-pointer select-none text-center text-lg font-bold lg:text-lg;
    color: var(--contrast-b);
  }

  h4 {
    @apply inline-block cursor-pointer select-none text-left text-xl font-bold lg:text-xl;
    color: var(--contrast-c);
  }

  p {
    @apply text-base;
    color: var(--contrast-c);
  }
}

@layer components {
  .site-icon {
    @apply aspect-square w-12 rounded-[12px];
    box-shadow: 0 0 5px 0 var(--contrast-c);
  }

  .app-link {
    @apply cursor-pointer text-base transition-colors;
    color: var(--contrast-c);
  }

  .app-link:hover {
    @apply -translate-y-[3px] text-[16.2px];
    color: var(--contrast);
  }

  .opening-banner {
    @apply flex flex-col items-center lg:flex-row;
  }

  .footer-block {
    @apply flex flex-1 flex-col items-start text-left;
  }

  .badge {
    @apply h-[70px] p-1 lg:h-[90px] lg:p-3;
  }

  .badge-container {
    @apply flex flex-col items-center justify-center pt-4 lg:flex-row lg:p-0;
  }

  .app-icon {
    @apply m-5 aspect-square w-[200px] rounded-[50px] lg:w-[300px] lg:rounded-[75px];
    box-shadow: 0 0 10px 0 var(--contrast-c);
  }

  .profile-image {
    @apply aspect-square w-[200px] rounded-full border-[3px] object-cover;
    border-color: var(--contrast);
  }

  .personal-detail {
    @apply flex flex-row items-center p-2;
    color: var(--contrast-c);
  }

  .t-and-c {
    @apply mx-4 my-10 flex flex-1 flex-col rounded-[30px] bg-[var(--secondary)] p-3 md:mx-0 md:p-5;
    box-shadow: 0 0 10px 0 var(--contrast-c);
  }
  .t-and-c-scroll-wrapper {
    @apply flex h-[300px] flex-col rounded-[10px] bg-[var(--primary)] p-2;
  }
  .t-and-c-scroll {
    @apply flex flex-1 flex-col overflow-y-scroll p-1;
  }
  .blog-card {
    @apply card-shadow flex w-[250px] flex-col rounded-lg bg-[var(--primary)] p-4 md:w-[350px];
  }
  .blog-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 14px 2px var(--contrast-c);
  }
  .card-shadow {
    box-shadow: 0 0 10px 0 var(--contrast-c);
  }
  ,
  .prose br {
    display: block;
    margin-bottom: 1rem;
    content: "";
  }
  .prose p {
    margin-bottom: 1.2em;
  }
  .prose a {
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease;
    color: var(--contrast);
  }
  .prose a:hover {
    @apply -translate-y-[3px] text-[16.2px];
    color: var(--contrast-c);
  }
  .prose h1 {
    @apply py-5;
  }
  .prose h2 {
    @apply py-2;
  }
  .prose ul {
    color: var(--contrast-c);
    padding-left: 1.25rem; /* indent */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .prose ul > li {
    color: var(--contrast-c);
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
    position: relative;
  }

  .prose ul li::before {
    content: "•"; /* your icon here */
    padding-right: 10px;
    font-size: 1rem;
  }

  .prose ul > li::marker {
    color: var(--contrast-c);
    font-size: 1.1em;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}
