@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-PRIMARY to-TERTIARY max-w-full;
  }
  /* * {
    outline: 1px solid red;
  } */
  .content-container {
    @apply flex flex-1 flex-col mx-auto w-full max-w-full;
  }
  header {
    @apply flex flex-row justify-center fixed top-0 left-0 z-50 w-full max-w-full;
  }
  .inner-container {
    @apply flex justify-between font-bold p-2 md:p-4 w-full max-w-full md:max-w-6xl;
  }
  h1 {
    @apply text-white font-bold text-5xl md:text-6xl text-center hover:scale-105 cursor-pointer inline-block;
  }
  h2 {
    @apply text-white font-bold text-2xl md:text-3xl text-center hover:scale-105 cursor-pointer inline-block;
  }
  h3 {
    @apply text-CONTRASTB font-bold text-lg md:text-lg text-center hover:scale-105 cursor-pointer inline-block;
  }
  p {
    @apply text-CONTRAST text-base;
  }
}

@layer components {
  .site-icon {
    @apply w-12 rounded-[12px] aspect-square shadow-lg md:w-24 md:rounded-[24px];
  }
  .app-link {
    @apply text-WHITE text-base hover:text-CONTRAST transition-colors cursor-pointer hover:text-[16.2px] hover:-translate-y-[3px];
  }
  .opening-banner {
    @apply flex flex-col items-center  md:flex-row;
  }
  .block {
    @apply flex flex-1 flex-col items-center text-center justify-center;
  }
  .badge {
    @apply p-1 h-[70px] md:p-3 md:h-[90px];
  }
  .badge-container {
    @apply flex flex-col justify-center items-center md:flex-row;
  }
  .app-icon {
    @apply rounded-[75px] w-[300px] aspect-square shadow-lg m-5;
  }
}
