@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-6xl mx-auto px-4 bg-gradient-to-b from-PRIMARY to-TERTIARY;
  }
  h1 {
    @apply text-white font-bold text-6xl text-center;
  }
  p {
    @apply text-CONTRAST text-lg text-center;
  }
}

@layer components {
  .app-link {
    @apply p-2 text-WHITE text-base hover:text-CONTRAST transition-colors cursor-pointer hover:text-[16.2px];
  }
  .opening-banner {
    @apply flex flex-col items-center w-full md:flex-row;
  }
  .opening-banner-block {
    @apply flex flex-1 flex-col items-center;
  }
  .badge {
    @apply p-3 h-[90px];
  }
  .badge-container {
    @apply flex flex-col md:flex-row;
  }
}
